<h1>Welcome</h1>
<p>Please make use of these free property investment calculators</p>

<ul>
  <li><%= link_to "Rental Yield Calculator", yield_calculator_path %></li>
  <li><%= link_to "Future Growth Calculator", future_calculator_path %></li>
  <li><%= link_to "Past Growth Calculator", past_calculator_path %></li>
</ul>
