<div class="home-page">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-12">
        <h1>Welcome</h1>
        <p style="font-size: 1.4em;"><strong>Please make use of these free property investment calculators</strong></p>
        <ul>
          <li><%= link_to "Rental Yield Calculator", yield_calculator_path %></li>
          <br>
          <li><%= link_to "Future Growth Calculator", future_calculator_path %></li>
          <br>
          <li><%= link_to "Past Growth Calculator", past_calculator_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
