<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
    <h1>Future Value</h1>
    <br>
    <h1><strong><%=@average_annual_growth_percentage %>% per annum</strong></h1>
    <br>
    <% until @count == @years_display %>
    <p><%= "#{@current_year} = $#{@property_value.round(0)}" %></p>
    <br>
    <% @count += 1 %>
    <% @current_year += 1 %>
    <% @property_value *= @growth_int %>
    <% end %>
    <br>
    <p><%= link_to "Run Another Calculation", future_calculator_path %></p>
    </div>
  </div>
</div>
