<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Calculate A Property's Past Growth Rate</h1>
      <p>Use this calculator to find out the past growth performance of a property.</p>
      <form action="/past-results">
        <div class="form-group">
          <label for="yearSold">Year of Last Sale</label>
          <input type="number" class="form-control" name="yearSold" aria-describedby="yearSold" placeholder="e.g 2004">
        </div>
        <div class="form-group">
          <label for="lastSalePrice">Previous Sale Price</label>
          <input type="number" class="form-control" name="lastSalePrice" placeholder="$">
        </div>
        <div class="form-group">
          <label for="currentSalePrice">Current Sale Price</label>
          <input type="number" class="form-control" name="currentSalePrice" placeholder="$">
        </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Calculate</button>
          </div>
      </form>
      <p><a href="https://www.domain.com.au/property-profile">Domain's Home Price Guide</a> is a handy way to access previous prices of the property in question. Just enter the address and it will provide all of that property's available sales history
      </p>
    </div>
  </div>
</div>
