<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
    <h1>Calculate a Property's Rental Yield</h1>
    <br>
    <p>Use this calculator to determine the rental yield of property.</p>
      <form action="/yield-results">
        <div class="form-group">
          <label for="weeklyRent">Weekly Rent</label>
          <input type="number" class="form-control" name="weeklyRent" aria-describedby="weeklyRent" placeholder="$">
          <small id="propertyHelp" class="form-text text-muted">Use https://www.consumer.vic.gov.au/housing/renting/rent-bond-bills-and-condition-reports/rent/rent-calculator if you're struggling to convert monthly to weekly rent.</small>
        </div>
        <div class="form-group">
          <label for="propertyPrice">Property Price</label>
          <input type="number" class="form-control" name="propertyPrice" aria-describedby="propertyPrice" placeholder="$">
          <small id="propertyHelp" class="form-text text-muted">Enter the current value of the property</small>
        </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Calculate</button>
          </div>
      </form>
    </div>
  </div>
</div>
